@media (min-width: 1440px) {
  .VPDoc.has-aside .content-container {
    max-width: 928px !important;
  }
}

@media (min-width: 960px) {
  .VPNavBar {
    background-color: var(--vp-nav-bg-color);
  }
}

.VPFooter {
  border-top: none !important;
  background-color: transparent !important;
}

#VPContent > div > div.VPHero.VPHomeHero > div > div > h1 > span {
  color: #3451b2; !important;
  -webkit-text-fill-color: #3451b2; !important;
}

#VPContent > div > div.VPHero.VPHomeHero > div > div > p.text {
  color: rgba(60, 60, 67); !important;
}

#VPContent > div > div.VPHero.VPHomeHero > div > div > p.tagline {
  color: rgba(60, 60, 67, 0.78); !important;
}
